* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-weight: 400; */
}

strong {
  font-weight: 600;
}

body {
  min-height: 100vh;
  width: 100vw;
}
